
html, body {
    height:100%;
    padding:0;
    margin:0;
 }
 .container {
    height:50%;
 }
 .top {
    min-height:30%;
    background: rgb(183, 234, 251);
 }
 .bottom {
    min-height:70%;
    background:#75e3ff;
 }

body{
    background-color: #75e3ff;
}

h1 {
    color: white;
    border-width: 20px;
    border-color: lightblue;
    border-style: solid;
    display: inline-block;
    border-radius: 50px;
    background-color: lightblue;
    text-emphasis-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div {
    text-align: center;
  display: block;
  flex-direction: column;
  align-items: flex-start;
}


/*BUTTON*/

form#form{
    display: inline-block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
 
}
.dropbtn {
    background-color: #6b8691;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3b4d57;}