
html, body {
    height:100%;
    padding:0;
    margin:0;
 }
 .container {
    height:50%;
 }
 .top {
    min-height:30%;
    background: rgb(183, 234, 251);
 }
 .bottom {
    min-height:70%;
    background:#75e3ff;
 }

body{
    background-color: #75e3ff;
}

h1 {
    color: white;
    border-width: 20px;
    border-color: lightblue;
    border-style: solid;
    display: inline-block;
    border-radius: 50px;
    background-color: lightblue;
    text-emphasis-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div {
    text-align: center;
  display: block;
  flex-direction: column;
  align-items: flex-start;
}

#genre span {

  color: white;
    border-width: 20px;
    border-color: lightblue;
    border-style: solid;
    display: inline-block;
    border-radius: 50px;
    background-color: lightblue;
    text-emphasis-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#detailed-info{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: darkblue;
  font-size: large;
}
#refreshbutton{

  background-color: hsl(218, 100%, 74%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#refreshbutton:hover,
#refreshbutton:focus {
  background-color: #F082AC;
}

h3{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-width: 20px;
  border-color: lightblue;
  border-style: solid;
  display: inline-block;
  border-radius: 50px;
    background-color: lightblue;
    text-emphasis-color: black;
}

.li{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: darkblue;
  font-size: large;
}